include *.txt
include LICENSE
recursive-include sphinx_rtd_theme_annotated *.conf
recursive-include sphinx_rtd_theme_annotated *.css
recursive-include sphinx_rtd_theme_annotated *.eot
recursive-include sphinx_rtd_theme_annotated *.html
recursive-include sphinx_rtd_theme_annotated *.js
recursive-include sphinx_rtd_theme_annotated *.svg
recursive-include sphinx_rtd_theme_annotated *.ttf
recursive-include sphinx_rtd_theme_annotated *.woff
